doctype html
html
  
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='csrf-token', content=_csrf)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    link(rel='stylesheet', href='/stylesheets/style.css')

    
    // Jens's Bootstrap core CSS
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
    
    title #{title} - Tollchecker
  body
    include partials/header
    
    .container-fluid
      block content
    
    include partials/footer
    
    script.
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 1.297154, lng: 103.857917},
        zoom: 15
      });
      }
    

    // Google Maps simple plugin
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCCzDCaQwM86iVgsHpKM3BHjKmMtZxNB4s&callback=initMap', async='', defer='')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    // Hackathon local plugins
    //- script(src='/javascripts/lib/jquery-3.1.1.min.js')
    //- script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/main.js')
    // All local scripts
    script(src='/javascripts/timeCheck.js')
    script(src='/javascripts/map.js')
